<!DOCTYPE HTML>
<html>
  <head>
    <title>Projet Node Js - Todo List</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Projet Node Js - Todo List</h1>
    <h4>Auteur : Jonathan DINH & Theo HERNANDEZ</h4>
    
    <p>Toutes les Todos : </p>
    
    <table>
      <tr>
        <th>Message</th>
        <th>Progression</th>
        <th>Crée le :</th>
        <th>Mise à jour le :</th>
        <th>Crée par :</th>
      </tr>
      <tr>
        <td>Faire le Node.JS</td>
        <td>En cours</td>
        <td>11/12/2018</td>
        <td>11/12/2018</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Faire le Node.JS</td>
        <td>En cours</td>
        <td>11/12/2018</td>
        <td>11/12/2018</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Faire le Node.JS</td>
        <td>En cours</td>
        <td>11/12/2018</td>
        <td>11/12/2018</td>
        <td>1</td>
      </tr>
    </table>

  </body>
</html>

array = {
[Faire le Node.JS,En cours,11/12/2018,11/12/2018,1]
[Faire le Node.JS,En cours,11/12/2018,11/12/2018,1]
[Faire le Node.JS,En cours,11/12/2018,11/12/2018,1]
}