html
  head
    title Projet Node Js - Todo List
    style
      include ../style.css
  body
    div#main
      h1 Projet Node Js - Todo List
      h4 Auteur : Jonathan DINH & Theo HERNANDEZ
      p Ajouter un User
      div#form
        form(action='/users', method='POST')
          p
            | Firstname :
            input(name='firstname', type='text', required)
            br
            | Lastname : 
            input(name='lastname', type='text', required)
            br
            | Username :
            input(name='username', type='text', required)
            br
            | Password : 
            input(name='password', type='text', required)
            br
            | Email : 
            input(name='email', type='email', required)
          input(value='Submit', type='submit')