html
  head
    title Projet Node Js - Todo List
  body
    h1 Projet Node Js - Todo List
    h4 Auteur : Jonathan DINH & Theo HERNANDEZ
    p Ajouter une Todo
    form(action='/todos', method='POST')
      p
        | Message :
        input(name='message', type='text', required)
        br
        | Completion : 
        input(name='completion', type='text', required)
        br
        | userId: 
        input(name='userId', type='text', required)
      input(value='Submit', type='submit')