html
  head
    title Projet Node Js - Todo List
    style
      include ../style.css
  body
    div#main
      h1 Projet Node Js - Todo List
      h4 Auteur : Jonathan DINH & Theo HERNANDEZ
      p Editer une Todo
      div#form
        form(action='/todos/' + id + '?_method=PUT', method='POST')
          p
            | Message :
            input(name='message', type='text', required)
            br
            | Completion : 
            select(name='completion')
              option(value='To Do') To Do
              option(value='In Progress') In progress
              option(value='Done') Done
          input(value='Submit', type='submit')